# IDE and OS files
.vscode/
.idea/
.DS_Store
*.swp

# Python
__pycache__/
*.pyc
venv/

# Node
node_modules/
build/
.npm/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files - IMPORTANT!
# This prevents your secret keys from being uploaded.
.env
*.env.local

# Docker
docker-compose.override.yml